<h1>Angular 8 Toastr Notifications Example - ItSolutionStuff.com</h1>
  
<button (click)="showToasterSuccess()">
    Success Toaster
</button>
<button (click)="showToasterError()">
  Error Toaster
</button>

<button (click)="showToasterInfo()">
  Info Toaster
</button>

<button (click)="showToasterWarning()">
  Warning Toaster
</button>
<input type='text' #newTodo >
<button (click)='addTodo(newTodo.value);newTodo.value=""'>add</button>


<table>
  <tr>
    <!-- <thead> -->
      <th>name</th>
      <th>age</th>
      <th>Actions</th>
    <!-- </thead> -->
  </tr>
  <tbody>
    <tr *ngFor='let todo of todos;let i as index'>
      <td>{{todo.name}}</td>
      <td>{{todo.age}}</td>
      <button (click)='deleteTodo(i)'>delete</button>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>